@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
  --accent: #c86b41;
  --accent-light: #f0a880;
  --secondary-accent: #1c575b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-accent {
  color: var(--accent);
}

.text-secondary-accent {
  color: var(--secondary-accent);
}

.bg-accent {
  background-color: var(--accent);
}

#h2 {
  color: var(--secondary-accent);
  font-size: x-large;
}